
.wrapper {
    align-items: center;
}

.nameInput {
    border: solid 1px #999999 !important;
}

.smallInputLeft {
    border-bottom-left-radius: 8px;
    border: solid 1px #999999;
    border-top: none!important;
    border-right: none!important;
    height: 40px;
    padding-left: 10px;
}

.smallInputRight {
    border-bottom-right-radius: 8px;
    border: solid 1px gray;
    border-top: none!important;
    height: 40px;
    padding-left: 10px;
}

.largeInput {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    height: 40px;
    border: solid 1px gray;
    padding-left: 10px;
}

.payBtn {
    font-weight: bold !important;
    background: #6060F6 !important;
    border: #6060F6 !important;
    width: 100%;
    margin-top: 20px;
}

.cardImage {
    display: flex;
    position: absolute;
    top: 0;
    right: 10px;
}

.cardImage svg {
    margin-left: 5px
}

.cardWrapper {
    position: relative;
}

.error {
    color: red;
    font-size: 15px;
    margin-top: 5px
}